#-*- crontab -*-
#
# Crontab
#
# Note: This is a system crontab which takes user to run as as the 6th field.
# See: https://help.ubuntu.com/community/CronHowto
#
# --------------------------------------------------
# *  *  *  *  *  user command
# -  -  -  -  -
# |  |  |  |  |
# |  |  |  |  +--------- day of week (0 - 6) (Sunday=0)
# |  |  |  +---------- month (1 - 12)
# |  |  +----------- day of month (1 - 31)
# |  +------------ hour (0 - 23)
# +------------- min (0 - 59)
#
# --------------------------------------------------

PATH=/usr/local/rbenv/shims:/usr/bin:/bin

# --------------------------------------------------
# Check for changes to the load balancer configuration.
*/15 * * * * admin {{home}}/bin/ping-admin update
